In [1]:
from functions import *

In [2]:
with open('Authentication/database_uri.txt', 'r', encoding="utf8") as f:
    uri = f.read()

In [3]:
# The 3 tables:

# command = '''
#     CREATE TABLE twitter_data (
#     tweet_id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     tweet VARCHAR
# )
# '''

# command = '''
#     CREATE TABLE reddit_data (
#     post_id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     post VARCHAR
# )
# '''

# command = '''
#     CREATE TABLE tweets_for_analysis (
#     id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     reply_to VARCHAR NOT NULL,
#     comment VARCHAR NOT NULL,
#     social_media VARCHAR,
#     head_id VARCHAR NOT NULL,
#     conversation_id VARCHAR NOT NULL
# )
# '''

# command = '''DELETE FROM tweets_for_analysis'''

# setUpDB(command, uri)

In [4]:
query = '''
    select * from tweets_for_analysis
'''

data = getData(query, uri)
print('Length of dataframe:', len(data))
print(data['conversation_id'].unique())

data

Length of dataframe: 185
['1505784753043124225' '1505413972568072195' '1504381389818368001'
 '1504393380503044098' '1506133764597985282']

,id,timestamp,reply_to,comment,social_media,head_id,conversation_id
0,10000,2022-03-22T10:03:19.000Z,10003,"@oterenceo @MothershipSG Definitely, there is ...",Twitter,1619325942,1505784753043124225
1,10006,2022-03-22T02:05:17.000Z,10041,@treasured1964 @MothershipSG They dun get to c...,Twitter,1619325942,1505784753043124225
2,10012,2022-03-21T19:09:50.000Z,1619325942,@MothershipSG Absolutely heartbreaking. My con...,Twitter,1619325942,1505784753043124225
3,10017,2022-03-21T14:55:31.000Z,10018,@teamus712 @MothershipSG Say you’ve never felt...,Twitter,1619325942,1505784753043124225
4,10022,2022-03-21T13:28:25.000Z,1619325942,@MothershipSG experienced twice with KKH hospi...,Twitter,1619325942,1505784753043124225
...,...,...,...,...,...,...,...
180,10008,2022-03-22T05:45:39.000Z,1619325942,@MothershipSG You mean compensation… in touch ...,Twitter,1619325942,1506133764597985282
181,10009,2022-03-22T05:29:42.000Z,nan,@pangsb @MothershipSG If this stillbirth is re...,Twitter,1619325942,1506133764597985282
182,10005,2022-03-22T02:06:43.000Z,10022,@Featherfly2 @MothershipSG Useless doctors,Twitter,1619325942,1505784753043124225
183,10011,2022-03-22T00:15:55.000Z,10050,@NelliR1537 @MothershipSG Wat the hell. You kn...,Twitter,1619325942,1505784753043124225
184,10027,2022-03-21T10:26:33.000Z,10021,@DeeAnneeeee @MothershipSG national university...,Twitter,1619325942,1505784753043124225

In [5]:
data[data['conversation_id'] == '1504393380503044098']

,id,timestamp,reply_to,comment,social_media,head_id,conversation_id
92,10000,2022-03-20T06:13:20.000Z,10004,@lomovsky What's wrong here is that someone is...,Twitter,37874853,1504393380503044098
93,10001,2022-03-17T19:18:16.000Z,37874853,@straits_times leave her alone and time you sh...,Twitter,37874853,1504393380503044098
94,10002,2022-03-17T14:58:19.000Z,10004,@lomovsky @straits_times She can choose not to...,Twitter,37874853,1504393380503044098
95,10003,2022-03-17T14:10:18.000Z,37874853,@straits_times Have sympathy 💐 on mental illness,Twitter,37874853,1504393380503044098
96,10004,2022-03-17T13:52:54.000Z,37874853,"@straits_times What is wrong here? She, or act...",Twitter,37874853,1504393380503044098
97,10005,2022-03-17T12:28:03.000Z,37874853,@straits_times 🔥Have you heard Wonkey Donkey -...,Twitter,37874853,1504393380503044098
98,10006,2022-03-17T11:16:00.000Z,37874853,@straits_times Maybe she is trying to proof a...,Twitter,37874853,1504393380503044098
99,10007,2022-03-17T10:58:41.000Z,37874853,@straits_times Hopefully a free country will o...,Twitter,37874853,1504393380503044098
100,10008,2022-03-17T10:30:04.000Z,37874853,@straits_times …..and Orchard…..,Twitter,37874853,1504393380503044098