In [1]:
from functions import *

In [2]:
with open('Authentication/database_uri.txt', 'r', encoding="utf8") as f:
    uri = f.read()

In [3]:
# The 3 tables:

# command = '''
#     CREATE TABLE twitter_data (
#     tweet_id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     tweet VARCHAR
# )
# '''

# command = '''
#     CREATE TABLE reddit_data (
#     post_id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     post VARCHAR
# )
# '''

# command = '''
#     CREATE TABLE tweets_for_analysis (
#     id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     reply_to VARCHAR NOT NULL,
#     comment VARCHAR NOT NULL,
#     social_media VARCHAR,
#     head_id VARCHAR NOT NULL,
#     conversation_id VARCHAR NOT NULL
# )
# '''

# command = '''
#     CREATE TABLE reddit_posts_for_analysis (
#     id VARCHAR NOT NULL,
#     username VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     reply_to VARCHAR NOT NULL,
#     comment VARCHAR NOT NULL,
#     social_media VARCHAR,
#     head_id VARCHAR NOT NULL
# )
# '''

# command = '''ALTER TABLE tweets_for_analysis RENAME TO comments_for_analysis'''

# command = '''
#     DELETE FROM comments_for_analysis WHERE conversation_id = 'rmqevj'
# '''

# setUpDB(command, uri)

In [4]:
socialMedia = ['Reddit', 'Twitter']

for i in range(len(socialMedia)):
    print(i, socialMedia[i])

socialMediaOption = int(input("Choose social media platform:"))

print(f'\nChosen {socialMedia[socialMediaOption]}\n')

if socialMedia[socialMediaOption] == 'Reddit':
    query = '''
        select * from reddit_posts_for_analysis
    '''
    
    data = getData(query, uri)
    print('Length of dataframe:', len(data))
    print(data['head_id'].unique())
    
elif socialMedia[socialMediaOption] == 'Twitter':
    query = '''
        select * from comments_for_analysis
    '''
    data = getData(query, uri)
    print('Length of dataframe:', len(data))
    print(data['conversation_id'].unique())

data.head()

0 Reddit
1 Twitter
Choose social media platform:1

Chosen Twitter

Length of dataframe: 576
['1505784753043124225' '1505413972568072195' '1505410767801106434'
 '1505085602051502085' '1504381389818368001' '1504393380503044098'
 '1506133764597985282' '1504786465091321859' '1513446924401410050'
 '1507903248820150276' '1507922082683793408' '1507745670618251264'
 '1507558981622853632' '1506830905687511040' '1513829591038627840']

,id,timestamp,reply_to,comment,social_media,head_id,conversation_id
0,10000,2022-03-22T10:03:19.000Z,10003,"@oterenceo @MothershipSG Definitely, there is ...",Twitter,1619325942,1505784753043124225
1,10006,2022-03-22T02:05:17.000Z,10041,@treasured1964 @MothershipSG They dun get to c...,Twitter,1619325942,1505784753043124225
2,10012,2022-03-21T19:09:50.000Z,1619325942,@MothershipSG Absolutely heartbreaking. My con...,Twitter,1619325942,1505784753043124225
3,10017,2022-03-21T14:55:31.000Z,10018,@teamus712 @MothershipSG Say you’ve never felt...,Twitter,1619325942,1505784753043124225
4,10022,2022-03-21T13:28:25.000Z,1619325942,@MothershipSG experienced twice with KKH hospi...,Twitter,1619325942,1505784753043124225